/// Generated mapper for [{{className}}] global resources.
/// 
/// This mapper handles serialization and deserialization between Dart objects
/// and RDF triples for resources of type {{className}}.
class {{mapperClassName}} implements {{mapperInterfaceName}}<{{className}}> {
  {{#hasIriStrategy}}
  {{#iriStrategy}}
  {{#hasTemplate}}
  {{#requiresIriParsing}}
  static final RegExp _regex = RegExp('{{template.regexPattern}}');
  {{/requiresIriParsing}}
  {{/hasTemplate}}
  {{/iriStrategy}}
  {{/hasIriStrategy}}
  {{#contextProviders}}
  /// Provider for context variable '{{value.variableName}}'
  final String Function() {{value.privateFieldName}};
  {{/contextProviders}}

  {{#hasIriStrategyMapper}}
  final {{iriStrategy.mapper.type}} _iriMapper;
  {{/hasIriStrategyMapper}}

  /// Constructor{{#hasContextProviders}} requiring providers for context variables{{/hasContextProviders}}
  const {{mapperClassName}}({{#hasMapperConstructorParameters}}{
    {{#hasIriStrategyMapper}}
    required {{iriStrategy.mapper.type}} iriMapper
    {{/hasIriStrategyMapper}}
    {{#contextProviders}}
    {{#hasIriStrategyMapper}},{{/hasIriStrategyMapper}}
    required String Function() {{value.parameterName}},
    {{/contextProviders}}
  }{{/hasMapperConstructorParameters}}){{#hasMapperConstructorParameters}} : {{#hasIriStrategyMapper}}_iriMapper = iriMapper{{/hasIriStrategyMapper}}{{#contextProviders}}{{#hasIriStrategyMapper}},
       {{/hasIriStrategyMapper}}{{value.privateFieldName}} = {{value.parameterName}}{{^last}},
       {{/last}}{{/contextProviders}}{{/hasMapperConstructorParameters}};

  @override
  IriTerm? get typeIri => {{#hasTypeIri}}{{typeIri}}{{/hasTypeIri}}{{^hasTypeIri}}null{{/hasTypeIri}};

  @override
  {{className}} fromRdfResource({{termClass}} subject, DeserializationContext context) {
    {{#needsReader}}
    final reader = context.reader(subject);
    {{/needsReader}}

    {{#hasIriStrategy}}
    {{#iriStrategy}}
    {{#hasTemplate}}
    {{#requiresIriParsing}}
    // Extract IRI parts
    final iriParts = _parseIriParts(subject.iri);
    {{/requiresIriParsing}}
    {{/hasTemplate}}
    {{#hasMapper}}
    {{#hasIriMapperParts}}
    final ({{#iriMapperParts}}{{^value.isRdfProperty}}{{value.dartPropertyName}}, {{/value.isRdfProperty}}{{#value.isRdfProperty}}_ ,{{/value.isRdfProperty}}{{/iriMapperParts}}) = _iriMapper.fromRdfTerm(subject, context);
    {{/hasIriMapperParts}}
    {{/hasMapper}}
    {{/iriStrategy}}
    {{/hasIriStrategy}}
    
    {{#constructorParametersOrOtherFields}}
    {{^value.isRdfProperty}}
    {{#value.isIriPart}}
    {{#iriStrategy.hasTemplate}}
    final {{value.name}} = {{^iriStrategy.hasFullIriPartTemplate}}iriParts['{{value.iriPartName}}']{{#value.isRequired}}!{{/value.isRequired}}{{/iriStrategy.hasFullIriPartTemplate}}{{#iriStrategy.hasFullIriPartTemplate}}subject.iri{{/iriStrategy.hasFullIriPartTemplate}}{{#value.hasDefaultValue}} ?? {{value.defaultValue}}{{/value.hasDefaultValue}};
    {{/iriStrategy.hasTemplate}}
    {{/value.isIriPart}}
    {{/value.isRdfProperty}}
    {{#value.isRdfProperty}}
    final {{value.dartType}} {{value.name}} = reader.{{#value.isRequired}}require{{/value.isRequired}}{{^value.isRequired}}optional{{/value.isRequired}}({{value.predicate}}){{#value.hasDefaultValue}} ?? {{value.defaultValue}}{{/value.hasDefaultValue}};
    {{/value.isRdfProperty}}
    {{/constructorParametersOrOtherFields}}

    {{#hasNonConstructorFields}}final retval = {{/hasNonConstructorFields}}{{^hasNonConstructorFields}}return {{/hasNonConstructorFields}}{{className}}(
      {{#constructorParameters}}
      {{#value.isNamed}}{{value.name}}: {{/value.isNamed}}{{value.name}}{{^last}},{{/last}}
      {{/constructorParameters}}
    );
    {{#hasNonConstructorFields}}
    {{#nonConstructorFields}}
    retval.{{value.name}} = {{value.name}};
    {{/nonConstructorFields}}
    return retval;
    {{/hasNonConstructorFields}}
  }

  @override
  ({{termClass}}, List<Triple>) toRdfResource(
    {{className}} resource,
    SerializationContext context, {
    RdfSubject? parentSubject,
  }) {
    {{#hasIriStrategy}}
    {{#iriStrategy}}
    {{#hasTemplate}}
    final subject = IriTerm({{^hasFullIriPartTemplate}}_buildIri(resource){{/hasFullIriPartTemplate}}{{#hasFullIriPartTemplate}}resource.{{#template.propertyVariables}}{{value.variableName}}{{^value.isString}}.toString(){{/value.isString}}{{/template.propertyVariables}}{{/hasFullIriPartTemplate}});
    {{/hasTemplate}}
    {{#hasMapper}}
    {{#hasIriMapperParts}}
    final subject = _iriMapper.toRdfTerm(({{#iriMapperParts}}resource.{{value.dartPropertyName}}, {{/iriMapperParts}}) , context);
    {{/hasIriMapperParts}}
    {{^hasIriMapperParts}}
    final subject = _iriMapper.toRdfTerm(resource, context);
    {{/hasIriMapperParts}}
    {{/hasMapper}}
    {{/iriStrategy}}
    {{/hasIriStrategy}}
    {{^hasIriStrategy}}
    final subject = BlankNodeTerm();
    {{/hasIriStrategy}}
    
    return context.resourceBuilder(subject)
    {{#properties}}
    {{#isRdfProperty}}
    {{#include}}
      .addValue{{^isRequired}}IfNotNull{{/isRequired}}({{predicate}}, resource.{{propertyName}})
    {{/include}}
    {{/isRdfProperty}}
    {{/properties}}
      .build();
  }

  {{#hasIriStrategy}}
  {{#iriStrategy}}
  {{#hasTemplate}}
  {{^hasFullIriPartTemplate}}
  /// Builds the IRI for a resource instance using the IRI template.
  String _buildIri({{className}} resource) {
    {{#template.propertyVariables}}
    final {{value.variableName}} = resource.{{value.variableName}}{{^value.isString}}.toString(){{/value.isString}};
    {{/template.propertyVariables}}
    {{#contextProviders}}
    final {{value.variableName}} = {{value.privateFieldName}}();
    {{/contextProviders}}
    return '{{template.interpolatedTemplate}}';
  }
  {{/hasFullIriPartTemplate}}

  {{#requiresIriParsing}}
  /// Parses IRI parts from a complete IRI using a template.
  ///
  /// Supports RFC 6570 URI Template standard:
  /// - {variable} (default): excludes reserved characters like '/'
  /// - {+variable}: includes reserved characters for URLs/paths (RFC 6570 Level 2)
  Map<String, String> _parseIriParts(String iri) {
    // Try to match the IRI against the regex pattern
    RegExpMatch? match = _regex.firstMatch(iri);

    return match == null
        ? {}
        : Map.fromEntries(match.groupNames.map((name) {
            var namedGroup = match.namedGroup(name)!;
            return MapEntry(name, namedGroup);
          }));
  }
  {{/requiresIriParsing}}
  {{/hasTemplate}}
  {{/iriStrategy}}
  {{/hasIriStrategy}}
}
